// Variables de colores
$primary-color: #646cff;
$secondary-color: #535bf2;
$bg-color: #ffffff;
$text-color: rgba(0, 0, 0, 0.87);

$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;