@use 'variables' as *;
@use 'layout';

:root {
    font-family: $font-family;
    line-height: 1.5;
    font-weight: 400;

    color: $text-color;
    background-color: $bg-color;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    color: $text-color;
    background-color: $bg-color;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        border-color: $primary-color;
    }
}